.windows {
	position: relative;
	display:block;
	margin: 10px 12px 10px 12px;
}

.window {
	position: relative;
	display: inline-block;
	margin: 0px -5px 0px 0px;
	width: 33.3%;
}

.menu {
	position: relative;
	display: block;
	height: 276px;
	margin: 20px 11px 0 12px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
	background: #FFFFFF;
	z-index: 10;
}

.clear {
	position: absolute;
	margin: 0px;
	display:block;
	width: 100%;
	height: 100%;
	z-index: 11;
}

.icon {
	position: relative;
	display:block;
	margin: 0 auto;
	top: 24px;
	width: 70px;
	height: 70px;
	z-index: 9;
}

.data {
	position: relative;
	display:block;
	text-align: center;
	height: 75px;
	top: 88px;
	font-size: 40px;
	font-family : 'sans-serif';
	line-height: 25px;
	text-decoration:none;
	color: #000000;
	user-select: none;
	z-index: 10;
	transition: 0.5s;
	z-index: 11;
}

.data:hover {
	color: #70af4d;
}

.title {
	position: relative;
	display:block;
	text-align: center;
	height: 45px;
	top: 83px;
	font-size: 19px;
	font-family : 'sans-serif';
	line-height: 15px;
	color: #777777;
	z-index: 9;
}

@media screen and (max-width:599px) { 
.window {
	width: 100%;
}
}