.windows {
	position: relative;
	display:block;
	margin: 10px 24px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.30);
}

.tytle {
	position: relative;
	display:inline-block;
	padding: 16px 24px 16px 24px;
	font-size: 24px;
	font-family : 'sans-serif';
}

.restart {
	position: absolute;
	display:inline-block;
	top: 32px;
	right: 8px;
	width: 88px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	border-radius: 2px;
	font-size: 14px;
	font-family : 'sans-serif';
	background-color: #70af4d;
	color: black;
	text-decoration:none;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.30);
}

.table_window {
	position: relative;
	display:block;
	padding: 24px 24px;
	border-bottom: 0.5px solid #E0E0E0;
}

.table1 {
	position: relative;
	border-collapse: collapse;
	border: 0px; /* 外側の枠線 */
	width: 100%;
	background-color: #FFFFFF;
}

.coloring_table {
	background-color: #DFF0D8;
}

.table1 td {
	border-width: 0px 0px 1px 0px; /* 上下だけ引く */
	border-color: #D0D0D0;   /* 線色 */
	border-style: solid;   /* 線種：実線 */
	padding: 12.5px 0px 12.5px 24px;        /* セル内側の余白 */
	font-size: 14px;
	font-family : 'sans-serif';
}

.index {
	width: 18.5%;
}

.subtitle {
	position: relative;
	display:block;
	padding: 22px 0px 0px 32px;
	font-size: 14px;
	font-family : 'sans-serif';
}

.explanation {
	position: relative;
	display:block;
	padding: 7px 0px 16px 32px;
	font-size: 14px;
	font-family : 'sans-serif';
	color: rgba(0,0,0,.54);
}

.photo {
	position: relative;
	display:block;
	padding: 0px 0px 30px 0px;
}

@media screen and ( max-width:960px) {
.tytle {font-family: 'Roboto'; font-size: 26px;}
.restart {font-family: 'Roboto'; font-size: 15px;}
.table1 {font-family: 'Roboto';}
.latest_view {font-family: 'Roboto';}
.subtitle {font-family: 'Roboto';}
}

@media screen and (max-width:705px) {
.photo {
	width: 100%;
	height: auto;
}
}

@media screen and (max-width:580px) { 
.table_window {
	padding: 24px 16px;
}
}